<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuário</title>
</head>
<body>
    <h1>Editar usuário:</h1>
    <form method="post" action="/usuarios/<%= usuario.id %>">
        <label>Tipo de usuário:</label>
        <input type="hidden" name="tipo" value="<%= usuario.tipo %>">
        <br />
        <label>Nome:</label>
        <input type="text" name="nome" value="<%= usuario.nome %>"/>
        <br />
        <label>CPF</label>
        <input type="text" name="cpf" value="<%= usuario.cpf %>"/>
        <br />
        <label>Telefone</label>
        <input type="text" name="telefone" value="<%= usuario.telefone %>"/>
        <br />
        <label>Email</label>
        <input type="email" name="email" value="<%= usuario.email %>"/>
        <br />
        <input type="submit" value="Editar">
    </form>
    <a href="/usuarios" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
</body>
</html>