<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
</head>
<body>
    <div>
        <h1>Usuário</h1>
        <ul>
            <li>ID: <%= usuario.id %></li>
            <li>Tipo: <%= usuario.tipo %></li>
            <li>Nome: <%= usuario.nome %></li>
            <li>Email: <%= usuario.email %></li>
            <li>Telefone: <%= usuario.telefone %></li>
            <li>CPF: <%= usuario.cpf %></li>
        </ul>
    </div>

    <div>
        <a href="/usuarios">Voltar</a>
    </div>
    
</body>
</html>