<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Usuário</title>
</head>
<body>
    <div>
        <h1>Informações do usuário</h1>
        <ul class="list-group">
            <li class="list-group-item">ID: <%= usuario.id %></li>
            <li class="list-group-item">Tipo: <%= usuario.tipo %></li>
            <li class="list-group-item">Nome: <%= usuario.nome %></li>
            <li class="list-group-item">Email: <%= usuario.email %></li>
            <li class="list-group-item">Telefone: <%= usuario.telefone %></li>
            <li class="list-group-item">CPF: <%= usuario.cpf %></li>
        </ul>
    </div>

    <div>
        <a href="/" class="btn btn-warning">Voltar</a>
    </div>
    <style>
        body {
            margin: 20px;
            background-color: #B9B8B2;
        }
    </style> 
</body>
</html>